<ion-header mode="ios" class="common-header bg-white">
  <div (click)="back()" slot="start" class="back left ion-activatable">
    <ng-icon name="lucideChevronLeft"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-title>Detail Shop</ion-title>
  <div
    *ngIf="!loading && data?.id == user?.shop?.id"
    [routerLink]="'/shop/form/' + data.id"
    routerDirection="forward"
    slot="start"
    class="action-header right ion-activatable"
  >
    <ng-icon size="22" name="lucidePencil"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-header>

<ion-content mode="ios" [fullscreen]="true" class="bg-main">
  <div class="loader" *ngIf="loading">
    <ion-skeleton-text
      [animated]="true"
      style="
        width: 100%;
        height: 80px;
        border-radius: 0 0 15px 15px;
        margin-bottom: 10px;
        margin-top: -3px;
      "
    ></ion-skeleton-text>
  </div>
  <ng-container *ngIf="!loading">
    <div class="shop ion-no-margin ion-no-radius-top">
      <div class="detail">
        <img
          class="avatar"
          [src]=" data.user.profile_image ? (data.user.profile_image | imgCld) : 'assets/images/avatar.svg'"
        />
        <div class="name">
          <h6>
            {{ data.name }}
            <ng-icon
              *ngIf="data.is_verified"
              size="18"
              name="saxTickCircleBulk"
            ></ng-icon>
          </h6>
          <p class="ion-text-capitalize">
            {{ data.city.replace('KABUPATEN', '').replace('KOTA',
            '').toLowerCase() }}, {{ data.province.toLowerCase() }}
          </p>
        </div>
      </div>
      <div (click)="show = !show" class="action ion-activatable">
        <ng-icon
          [class.rotate]="!show"
          size="25"
          name="lucideChevronDown"
        ></ng-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <img class="accent" src="assets/accent-1.svg" />
    </div>

    <div style="height: fit-content">
      <div class="shop-detail-section slide-down" [class.slide-up]="!show">
        <div class="ion-padding">
          <div
            class="alert danger"
            *ngIf="data?.id == user?.shop?.id && !data?.is_verified"
          >
            <ng-icon size="20" name="lucideAlertCircle"></ng-icon>
            <span>Tokomu belum diverifikasi Admin</span>
          </div>
          <div class="ion-margin-top ion-margin-bottom">
            <h6>Deskripsi</h6>
            <div class="description">
              <p>{{ data.description }}</p>
            </div>
          </div>

          <div class="ion-margin-top">
            <h6>Alamat</h6>
            <div class="address">
              <p>{{ data.address }}</p>
            </div>
          </div>

          <div *ngIf="data.galleries">
            <h6>Galeri</h6>
            <swiper
              class="ion-margin-top wrapper-gallery"
              [slidesPerView]="3.2"
              [spaceBetween]="10"
              [pagination]="true"
            >
              <ng-template
                *ngFor="let gallery of data.galleries | convertArray"
                swiperSlide
              >
                <div class="img-galery w-100 ion-activatable">
                  <ion-ripple-effect></ion-ripple-effect>
                  <img class="w-100" [src]="gallery | imgCld" />
                </div>
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="ion-padding">
    <div class="heading">
      <h5 class="ion-margin-bottom">Daftar Pet</h5>
      <ion-button
        *ngIf="!loading && data?.id == user?.shop?.id"
        [routerLink]="'/pet/form/' + data?.id"
        [disabled]="loading"
        class="add-pet"
        >Tambah &nbsp;<ng-icon size="20" name="lucidePlus"></ng-icon
      ></ion-button>
    </div>
    <ion-row mode="ios">
      <ng-container *ngIf="!loading2; else loader">
        <ng-container *ngIf="pets.length; else empty">
          <ion-col size="6" *ngFor="let pet of pets; let i = index">
            <ion-card class="card-horizontal">
              <ion-card-content>
                <div class="top">
                  <img
                    (click)="onDetail(pet)"
                    [src]="(pet.images | firstArray) | imgCld"
                  />
                  <div
                    (click)="addFav(pet.id, i)"
                    class="add-fav ion-activatable"
                  >
                    <ion-icon
                      color="danger"
                      [name]="!pet.favourite ? 'heart-outline' : 'heart'"
                    ></ion-icon>
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
                <div (click)="onDetail(pet)">
                  <div class="type ion-margin-top">
                    <div class="badge-type">{{ pet.category?.name }}</div>
                    <div class="rating">
                      <ion-icon name="star" class="star"></ion-icon>
                      <span>{{ pet.rating }}</span>
                    </div>
                  </div>
                  <div class="inner">
                    <h6 class="name">{{ pet.name }}</h6>
                    <div class="price-section mt-10px">
                      <div>
                        <p class="price">
                          <ng-container *ngIf="!pet.discount_type"
                            >{{ pet.price | currencyID }}</ng-container
                          >
                          <ng-container *ngIf="pet.discount_type == 'amount'"
                            >{{ pet.price - pet.discount_amount | currencyID
                            }}</ng-container
                          >
                          <ng-container *ngIf="pet.discount_type == 'percent'"
                            >{{ pet.price - (pet.price * (pet.discount_percent /
                            100)) | currencyID }}</ng-container
                          >
                        </p>
                        <p *ngIf="pet.discount_type" class="price-original">
                          {{ pet.price | currencyID }}
                        </p>
                      </div>
                      <span
                        *ngIf="data?.id == user?.shop?.id; else discount"
                        class="pet-stock"
                        >1 Ekor</span
                      >
                      <ng-template #discount>
                        <div
                          *ngIf="pet.discount_type == 'percent'"
                          class="badge-discount"
                        >
                          {{ pet.discount_percent }}%
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <ion-row *ngIf="data?.id == user?.shop?.id; else buy">
                  <ion-col size="6" class="ion-no-padding">
                    <ion-button
                      [routerLink]="'/pet/form/' + data.id + '/' + pet.id"
                      routerDirection="forward"
                      class="ion-margin-top edit"
                      size="small"
                      expand="block"
                      >Edit</ion-button
                    >
                  </ion-col>
                  <ion-col size="6" class="ion-no-padding">
                    <ion-button
                      (click)="onDelete(pet.id)"
                      color="danger"
                      class="ion-margin-top delete"
                      size="small"
                      expand="block"
                      >Hapus</ion-button
                    >
                  </ion-col>
                </ion-row>

                <ng-template #buy>
                  <ion-button
                    class="ion-margin-top buy"
                    size="small"
                    expand="block"
                    >Beli</ion-button
                  >
                </ng-template>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
      </ng-container>
    </ion-row>
  </div>
</ion-content>

<ng-template #empty>
  <div class="ion-padding ion-text-center not-found">
    <img style="width: 40%" src="assets/illustrations/not-found.png" />
    <h4>Data Kosong</h4>
  </div>
</ng-template>

<ng-template #loader>
  <ion-col size="6" *ngFor="let val of loop(6)">
    <ion-card class="card-horizontal">
      <ion-card-content>
        <div class="loader">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>

          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%; margin-top: 15px"
            ></ion-skeleton-text>
          </h3>
          <p style="margin: 10px 0">
            <ion-skeleton-text
              [animated]="true"
              style="width: 60%"
            ></ion-skeleton-text>
          </p>

          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; margin-top: 20px"
          ></ion-skeleton-text>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ng-template>
