<ion-header mode="md" class="common-header bg-white">
  <div (click)="back()" slot="start" class="back left ion-activatable">
    <ng-icon name="lucideChevronLeft"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-title>User Admin</ion-title>

  <ion-toolbar mode="md" style="padding: 0 10px">
    <ion-segment
      mode="ios"
      [(ngModel)]="params.type"
      (ngModelChange)="isInit = true; params.start = 0; getList()"
    >
      <ion-segment-button value="all">
        <ion-label
          >All <span *ngIf="!loading">({{ totalData }})</span></ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="active">
        <ion-label
          >Active <span *ngIf="!loading">({{ totalActive }})</span></ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="nonactive">
        <ion-label
          >Nonactive
          <span *ngIf="!loading">({{ totalNonactive }})</span></ion-label
        >
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content mode="md" [fullscreen]="true" class="ion-padding bg-main">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h6 *ngIf="rows.length" class="ion-text-bold" style="margin-bottom: 0">
    Daftar User Admin
  </h6>
  <ng-template #loader>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="margin-top: 20px; height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
  </ng-template>

  <div *ngIf="!loading; else loader">
    <ion-list [style]="'background:transparent'">
      <ng-container *ngIf="rows.length">
        <ion-card
          class="ion-no-margin"
          style="margin-top: 10px !important; margin-bottom: 10px !important"
          mode="ios"
          *ngFor="let row of rows"
        >
          <ion-card-content class="ion-no-padding">
            <ion-item
              [routerLink]="'/menu/admins/detail/' + row.id"
              routerDirection="forward"
              lines="none"
              [button]="true"
            >
              <div class="ion-padding-vertical ion-padding-start w-100">
                <div
                  class="flex-center justify-between"
                  style="margin-bottom: 20px"
                >
                  <div class="flex-center">
                    <ng-icon
                      size="20"
                      [name]="row.is_active ? 'heroCheckCircle' : 'heroXCircle'"
                      [color]="row.is_active ? '#2dd36f' : '#eb445a'"
                    ></ng-icon>
                    <span class="ft-13"
                      >{{ row.is_active ? 'Aktif' : 'Tidak Aktif' }}</span
                    >
                  </div>
                  <div class="flex-center badge-admin">
                    <ng-icon
                      size="15"
                      [name]="row.level == 'superadmin' ? 'hugeUserSettings01' : 'hugeUserEdit01'"
                      [color]="'#ffffff'"
                    ></ng-icon>
                    <span class="ft-13 ion-text-capitalize text-white"
                      >{{ row.level }}</span
                    >
                  </div>
                </div>
                <div class="flex-center">
                  <ion-avatar
                    aria-hidden="true"
                    slot="start"
                    class="ion-margin-end"
                  >
                    <img
                      [src]="row.profile_image ? (row.profile_image | imgCld) : 'assets/images/avatar.svg'"
                    />
                  </ion-avatar>
                  <div>
                    <ion-label class="ion-text-bold"
                      >{{ row.fullname }}</ion-label
                    >
                    <div class="flex-center">
                      <ng-icon name="heroEnvelope" color="#004D95"></ng-icon>
                      <span>{{ row.email }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <div
        *ngIf="!rows.length"
        class="ion-padding ion-text-center not-found"
        style="margin-top: 200px"
      >
        <img src="assets/illustrations/empty.svg" />
        <h4>Data Kosong</h4>
      </div>
    </ion-list>
    <ion-infinite-scroll
      threshold="5%"
      (ionInfinite)="loadData($event)"
      *ngIf="!loading && rows.length"
    >
      <ion-infinite-scroll-content loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-fab (click)="onCreate()" vertical="bottom" horizontal="center">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
