<ion-header class="common-header bg-white no-shadow">
  <div (click)="back()" slot="start" class="back left ion-activatable">
    <ng-icon name="lucideChevronLeft" class="pr-10px"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-header>
<ion-content
  mode="ios"
  class="ion-padding"
  style="--padding-top: 50px"
  [fullscreen]="true"
>
  <div class="heading">
    <h3>Selamat Datang</h3>
    <p>Silahkan login dengan akun anda !</p>
  </div>

  <ion-item class="input-outline" lines="none">
    <ng-icon size="18" name="lucideMail" class="pr-10px"></ng-icon>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item class="input-outline" lines="none">
    <ng-icon size="18" name="lucideUnlockKeyhole" class="pr-10px"></ng-icon>
    <ion-input
      [type]="showPassword ? 'text' : 'password'"
      placeholder="Password"
      [(ngModel)]="password"
    ></ion-input>
    <ng-icon
      slot="end"
      size="20"
      (click)="showPassword = !showPassword"
      [name]="showPassword ? 'heroEyeSlashMini' : 'heroEyeMini'"
      class="pr-10px"
    ></ng-icon>
  </ion-item>

  <div class="ion-text-right">
    <a
      class="forgot-pass"
      (click)="onForgotPassword()"
      href="javascript:void(0)"
      >Lupa Password ?</a
    >
  </div>

  <ion-button
    shape="round"
    [disabled]="formLoading"
    expand="block"
    (click)="onSubmit()"
  >
    <ion-spinner *ngIf="formLoading" name="crescent"></ion-spinner>
    <span *ngIf="!formLoading">Login</span>
  </ion-button>
  <ion-button
    *ngIf="!isGuest"
    (click)="continueAsGuest()"
    class="ion-margin-top"
    shape="round"
    color="light"
    expand="block"
    >Lanjut Sebagai Guest</ion-button
  >
  <div class="ion-text-center">
    <p class="register">
      Belum punya akun ?
      <a (click)="onRegister()" href="javascript:void(0)">Daftar</a>
    </p>
  </div>
</ion-content>
