app-change-password{
    .heading{
        padding: 35px 0;
        h3{
          margin: 0 0 10px 0;
          font-size: 24px;
          font-weight: 600;
        }
      
        p{
          margin: 0;
          color: #818181;
          font-size: 14px;
          line-height: 25px;
        }
      }
}