app-admin-detail{
    ion-avatar{
        border: 4px solid white;
        box-shadow: 0px 2px 7px 5px rgb(179 179 179 / 31%);
        margin: auto;
        position: relative;
        z-index: 1;
    }

    .detail-heading{
        background: var(--ion-color-primary);
        color: white;
        padding: 10px;
        border-radius: 10px;
        border-right: 5px solid #00a3ff;
        
        h5{
            margin: 0 0 0 10px;
        }
    }

    .detail-section{
        .detail{
            margin-bottom: 20px;
            small{
                color: #818181;
            }

            h6{
                color: #515151;
                margin-top: 10px;
                line-height: 26px;
                text-align: justify;
            }
        }
    }
}