<ion-header class="common-header bg-white">
  <div (click)="back()" slot="start" class="back left ion-activatable">
    <ng-icon name="lucideChevronLeft"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-title>Pesan </ion-title>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngIf="!loading; else loader" mode="md" class="ion-no-padding">
    <ng-container *ngIf="chats.length; else empty"></ng-container>
    <ion-item
      (click)="onOpenDetail(chat)"
      *ngFor="let chat of chats"
      lines="full"
      [button]="true"
      class="flex-center"
    >
      <ion-thumbnail slot="start">
        <ng-container *ngIf="user.id == chat.sender_id">
          <img
            [src]="chat.shop.profile_image ? (chat.shop.profile_image | imgCld) : 'assets/images/avatar.svg'"
          />
        </ng-container>
        <ng-container *ngIf="user.id == chat.receiver_id">
          <img
            [src]="chat.user.profile_image ? (chat.user.profile_image | imgCld) : 'assets/images/avatar.svg'"
          />
        </ng-container>
      </ion-thumbnail>
      <div>
        <h6>
          <ng-container *ngIf="user.id == chat.sender_id">
            {{ chat.shop?.shop?.name || chat.shop.fullname }}
          </ng-container>
          <ng-container *ngIf="user.id == chat.receiver_id">
            {{ chat.user.fullname }}
          </ng-container>
        </h6>

        <p [class.ion-text-bold]="chat.unseen">{{ chat.last_message }}</p>
      </div>
      <div slot="end" class="mr-10px">
        <span class="updated-at">{{ chat.updated_at | date: 'HH:mm'}}</span>
        <span *ngIf="chat.unseen" class="badge unseen-chat"
          >{{ chat.unseen }}</span
        >
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #loader>
  <ion-list mode="ios" class="ion-no-padding">
    <ion-item
      class="ion-margin-bottom"
      *ngFor="let val of loop(10)"
      lines="none"
    >
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>

<ng-template #empty>
  <div class="ion-padding ion-text-center not-found" style="margin-top: 200px">
    <img src="assets/illustrations/no-chats.svg" />
    <h4>Belum Ada Chat</h4>
  </div>
</ng-template>
