app-forgot-password{

  .heading{
    padding: 35px 0;
    h3{
      margin: 0 0 10px 0;
      font-size: 24px;
      font-weight: 600;
    }
  
    p{
      margin: 0;
      color: #818181;
      font-size: 14px;
      line-height: 25px;
    }
  }

  .count-down{
    h2{
        font-weight: 600;
        color: var(--ion-color-primary);
        font-size: 20px;
    }
}

.resend{
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 600;

    a{
        text-decoration: none;
    }
}

}