app-home{
    .search{
        color: #BCBCBC;
        width: 100%;
        background: white;
        padding: 10px;
        box-shadow: 0px 5px 10px #e4e4e4;
        border-radius: 10px;
        display: flex;
        align-items: center;

        span{
            display: block;
            margin-left: 5px;
        }
    }

    .categories{
        .segment{
            width: fit-content;
            padding: 10px 15px;
            border: 1px solid var(--ion-color-primary);
            border-radius: 50px;
            font-size: 14px;
            /* font-weight: 600; */
            color: var(--ion-color-primary);
            cursor: pointer;
            position: relative;
            overflow: hidden;
            user-select: none;

            &.active{
                background-color: var(--ion-color-primary);
                color: white;
            }
        }

    }

    .heading-section{
        margin-top: 30px;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        h6{
            font-size: 16px;
            font-weight: 600;
            margin: 0;
        }

        a{
            font-size: 16px;
            display: flex;
            align-items: center;
            color: var(--ion-color-primary);
            font-weight: 600;
        }
    }
}