transaction-detail{
    .bank{
        margin-right: 0;
        margin-bottom: 30px;
        margin-left: 0;
        box-shadow: none;
        border-left: 3px solid var(--ion-color-primary);

        ion-card-content{
            padding: 10px;

            .flex{
                display: flex;
                justify-content: space-between;
                align-items: end;

                .section{
                    display: flex;
                    align-items: end;

                    .logo{
                        width: 60px;
                        height: 50px;

                        img{
                            // width: 50px;
                            height: 50px;
                            // object-fit: cover;
                        }
                    }
                }

                .timer{
                    .time{
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        h4{
                            margin-top: 5px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }

    .alert{
        line-height: 20px;
    }

    .heading{
        display: flex;
        ng-icon{
            color: var(--ion-color-primary)
        }

        h6{
            margin: 0 0 0 5px;
            font-weight: 600;
            font-size: 15;
        }
    }

    .copy-btn{
        padding: 8px 15px;
        background: #ececec;
        border-radius: 50px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 15px;
        overflow: hidden;
        position: relative;

        span{
            display: block;
            margin-left: 10px;
        }
    }

    .review{
        h3{
            font-size: 16px;
            font-weight: 600;
            display: block;
            margin-bottom: 10px;
            font-family: Gilroy !important;
        }
    }

    .delivery-animation{
        object-fit: cover;
        object-position: center;
        height: 100px;
        width: 100%;
    }

    .shop-location{
        color: #818181
    }

    .badge-discount{
        padding: 3px 5px !important
    }

    .remove-img{
        right: -10px !important
    }

    .img-payment, .img-delivered{
        height: 100px !important; 
        width: 100% !important
    }

    .rating-review{
        width: 100% !important
    }

    .review-box{
        padding: 10px;
        background: #ececec;
        border-left: 2px solid #a5a5a5;
        font-size: 15px;
        color: #818181;
        font-weight: 600;
    }

    .input-heading{
        font-size: 16px; 
        font-weight: 600; 
        color: #818181
    }
}