<ion-header class="common-header bg-white">
  <div (click)="back()" slot="start" class="back left ion-activatable">
    <ng-icon name="lucideChevronLeft"></ng-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <ion-title>Pet Shops</ion-title>
</ion-header>

<ion-content mode="md" [fullscreen]="true" class="ion-padding bg-main">
  <ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h6 *ngIf="rows.length" class="ion-text-bold">Daftar Transaksi</h6>
  <ng-template #loader>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="margin-top: 20px; height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
    <ion-skeleton-text
      class="loader-list"
      animated
      style="height: 10%"
    ></ion-skeleton-text>
  </ng-template>

  <div *ngIf="!loading; else loader">
    <ion-card class="common-list" *ngIf="rows.length">
      <ion-card-content class="ion-no-padding">
        <ion-list mode="ios" class="ion-no-padding">
          <ion-item
            [routerLink]="'/menu/shop/detail/' + row.id"
            routerDirection="forward"
            button
            class="item"
            lines="none"
            *ngFor="let row of rows"
          >
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll
      threshold="5%"
      (ionInfinite)="loadData($event)"
      *ngIf="!loading && rows.length"
    >
      <ion-infinite-scroll-content loadingSpinner="crescent">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <div
      *ngIf="!rows.length"
      class="ion-padding ion-text-center not-found"
      style="margin-top: 200px"
    >
      <img src="assets/illustrations/empty.svg" />
      <h4>Data Kosong</h4>
    </div>
  </div>
</ion-content>
