app-shop-list{
    ion-item::part(native) {
        padding-inline-start: 0!important;
      }

      ion-item{
        ion-label{
            font-size: 16px;
            margin-bottom: 8px;
            color: #686868;
        }

        span{
            display: block;
            margin-left: 5px;
            color: #818181;
            font-size: 14px;
        }
      }

      ion-card{
        box-shadow: -1px 3px 4px 4px #00000005;
        // &::before {
        //     content: '';
        //     position: absolute;
        //     background-color: #85C1E9;
        //     width: 200px;
        //     height: 90%;
        //     bottom: 0;
        //     left: -10px;
        // }
      }

      ion-segment{
        border-radius: 20px!important;

        ion-segment-button{
            margin: 0;
            padding: 5px;
            --border-radius: 20px !important;
            

            &.segment-button-checked{
                background: var(--ion-color-primary) !important;
                --indicator-color: var(--ion-color-primary);
                color: white;
                font-weight: 600;
            }
        }
      }
}